// Define theme colors
$dark-grey: #333333;
$bright-blue: #0066ff;
$soft-pink: #ff66cc;
$light-green: #99cc66;

// //
// $light-grey: #CCCCCC;
// $soft-blue: #99CCFF;
// $light-pink: #FF99CC;
// $light-green: #CCFF99;

// 06
$bg-primary: $dark-grey;
$text-primary: #fff;
$text-secondary: $bright-blue;
$text-brand: $soft-pink;
$text-brand-minor: $light-green;

// $bg-primary: $light-grey;
// $text-primary: $dark-grey;
// $text-secondary: $soft-blue;
// $text-brand: $light-pink;
// $text-brand-minor: $light-green;
