.projects {
  min-width: 100%;
  flex-direction: column;
}

.project-card {
  width: 100%;
  display: flex;
  flex-direction: column;

  border-bottom: 5px solid $text-brand;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;

  margin: 0 auto;
  margin-bottom: 3rem;
  gap: 1rem;

  .content {
    flex: 3;
  }

  img {
    flex: 2;
    width: 100%;
    height: auto;
  }

  h3 {
    padding: 0;
    margin: 0;
  }

  &:hover {
    border-right: 5px solid $text-brand;
    box-shadow: rgba(253, 208, 55, 0.45) 0px 25px 20px -20px;

    h3 {
      color: $text-brand;
    }
  }
}

@media (min-width: 570px) {
  .project-card {
    flex-direction: row;
    border-bottom: none;
    border-right: 5px solid $text-brand-minor;
    margin-bottom: 4rem;
    background: rgb(0, 0, 0);
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 0.7945553221288515) 100%
    );

    .content {
      display: flex;
      flex: 2;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
      padding: 1rem;
    }

    image {
      flex: 4;
      width: auto;
      height: auto;
    }
  }
}
